.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

button{
  width: 90%;
  max-width: 545px;
  padding: 10px 0;
  background-color: #F9E141;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  color: #1f1f1f;
  cursor: pointer;
}